@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

p {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #2ec1ee, 0 0 15px #00a2ff, 0 0 20px #0199ff, 0 0 40px #0dd4b3, 0 0 60px #00a2ff, 0 0 10px #00d9ff, 0 0 98px #0099ff;
    color: #023dff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: rgb(255, 255, 255);
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #0084ff, 0 0 15px #00f7ff, 0 0 20px #00a2ff, 0 0 40px #00b7ff, 0 0 60px #00aeff, 0 0 10px #006eff, 0 0 98px #0066ff;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: rgb(255, 255, 255);
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #00e1ff, 0 0 15px #00b7ff, 0 0 20px #00eeff, 0 0 40px #00b7ff, 0 0 60px #00eeff, 0 0 10px #00a2ff, 0 0 98px #00aeff;
    color: #fff6a9;
  }
}